@use "../../scss/util/" as *;

.root {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - (100vh - 100%));
  background-color: var(--overlay-color);
  transition: all 0.3s;
}

.wrapper {
  overflow-y: auto;
  padding-block: rem(10);
  padding-inline: rem(9);
  width: 100%;
  max-height: 100%;
  text-align: center;
}

.content {
  position: relative;
  display: inline-block;
  border: rem(1) solid var(--gray300-color);
  border-radius: rem(4);
  max-width: rem(486);
  background-color: var(--white-color);
}

.top {
  padding: rem(47);
  padding-bottom: rem(24);
}

.title {
  margin: 0;
  margin-bottom: rem(24);
  font: var(--h3-font);
  text-align: center;
  color: var(--gray900-color);
}

.subtitle {
  margin-bottom: rem(24);
  font: var(--small-regular);
  letter-spacing: rem(0.1);
  text-align: center;
  color: var(--gray700-color);
}

// Field
.field {
  margin-bottom: rem(21);
  text-align: initial;
}

.label {
  display: inline-block;
  margin-bottom: rem(7);
  font: var(--small-regular);
  color: var(--gray800-color);
}

.input {
  padding-right: rem(42);
  padding-left: rem(13);
  width: 100%;

  &Wrapper {
    position: relative;
  }
}

.show {
  position: absolute;
  right: rem(14);
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: rem(2);
  background-color: transparent;
  transform: translateY(-50%);
  cursor: pointer;

  &::before {
    content: "";
    width: rem(16);
    height: rem(16);
    background-image: url("../../assets/img/eye.svg");
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--gray800-filter);
    transition: filter 0.3s background-image 0.3s;
  }

  &:hover {
    &::before {
      filter: var(--primary-filter);
    }
  }

  &Active {
    &::before {
      background-image: url("../../assets/img/eye-closed.svg");
    }
  }
}

// Remembering
.remembering {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(24);
  font: var(--small-regular);

  &Keep {
    display: flex;
    align-items: center;
  }

  &Checkbox {
    margin-right: rem(13);
  }

  &Checktext {
    color: var(--gray800-color);
  }

  &Forgot {
    border: none;
    padding: 0;
    color: var(--primary-color);
    background-color: transparent;
    cursor: pointer;
  }
}

// Button
.button {
  margin-bottom: rem(24);
  width: 100%;
}

// Switcher
.switcher {
  font: var(--small-regular);
  text-align: initial;

  &Descr {
    margin-right: rem(3);
    color: var(--gray800-color);
  }

  &Link {
    border: none;
    padding: 0;
    color: var(--primary-color);
    background-color: transparent;
    cursor: pointer;
  }
}

// Divider
.divider {
  margin: 0;
  margin-bottom: rem(16);
  border-top: rem(1) solid var(--gray300-color);
  padding-top: rem(23);
  font: var(--small-regular);
  text-align: center;
  color: var(--gray700-color);
}

// Bottom
.bottom {
  display: flex;
  justify-content: center;
  padding: rem(47);
  padding-top: 0;
}

.close {
  position: absolute;
  right: rem(20);
  top: rem(20);
  z-index: var(--z-up);
  border: none;
  padding: rem(2);
  background-color: transparent;
  cursor: pointer;

  svg {
    width: rem(26);
    height: rem(26);
    fill: var(--gray700-color);
    transition: fill 0.3s;
  }

  &:hover {
    svg {
      fill: var(--gray800-color);
    }
  }
}