@use "../../scss/util/" as *;

.root {
  padding-top: rem(179);
  padding-bottom: rem(101);

  @include bp-down("1325") {
    padding-top: calc(rem(4.66) + 13.16vw); // 179>54(1325>375)
    padding-bottom: calc(rem(42.42) + 4.42vw); // 101>59(1325>375)
  }
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include bp-down("576") {
    align-items: center;
  }
}

.title {
  margin: 0;
  margin-right: rem(15);
  text-align: revert;

  @include bp-down("414") {
    max-width: rem(210);
  }
}

.content {
  position: relative;
  display: grid;
  column-gap: rem(60);
  grid-template-columns: auto minmax(0, rem(600));
  padding-top: rem(60);

  @include bp-down("1325") {
    padding-top: calc(rem(39.08) + 1.58vw); // 60>45(1325>375)
  }

  @include bp-down("1120") {
    column-gap: rem(40);
  }

  @include bp-down("992") {
    column-gap: rem(20);
    grid-template-columns: minmax(0, 1fr) minmax(rem(400), 1fr);
  }

  @include bp-down("768") {
    display: block;
  }
}

.image {
  width: 100%;
  object-fit: cover;

  &Wrapper {
    max-width: rem(495);
  }

  @include bp-down("768") {
    display: none;
  }
}

.slider {
  margin-inline: rem(-30);

  &wrapper {
    margin-bottom: 4.3vw;

    @include bp-down("768") {
      margin-bottom: 7vw;
    }
  }

  [class*="slick-list"] {
    position: relative;
    z-index: var(--z-up);
  }

  [class*="slick-dots"] {
    padding-top: calc(rem(-11.66) + 4.77vw); // 80>25(1920>768)

    @include bp-down("768") {
      padding-top: calc(rem(6.04) + 7vw);
    }
  }
}

[class*="slick-slide"] {
  >div {
    margin-inline: rem(15);
  }
}

// Navigation
.btns {
  position: relative;
  right: rem(-13);
  bottom: rem(-24);
  display: flex;

  @include bp-down("1325") {
    bottom: calc(rem(4.3) - 2.14vw); // -24>-8(1325>576);
  }

  @include bp-down("576") {
    position: revert;
  }
}

.btn {
  border: none;

  &:first-child {
    svg {
      transform: rotate(180deg);
    }
  }
}

.look {
  margin-bottom: rem(14);
}

// For skeleton
.none {
  pointer-events: none;
}