@use "../../../scss/util/" as *;

.root {
  display: grid;
  column-gap: rem(60);
  grid-template-columns: 5.4fr 4.6fr;
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;

  // Show class
  &Show {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  @include bp-down("1200") {
    column-gap: rem(40);
  }

  @include bp-down("1120") {
    grid-template-columns: 1fr auto;
  }

  @include bp-down("1024") {
    grid-template-columns: auto minmax(0, auto);
  }

  @include bp-down("876") {
    column-gap: rem(30);
    grid-template-columns: rem(345) minmax(0, auto);
  }

  @include bp-down("768") {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: rem(48);
  }
}

.left {
  justify-self: start;
  width: 100%;
  min-width: 0;
  max-width: rem(600);

  @include bp-down("768") {
    justify-self: center;
  }
}

// Slider
.slider {
  margin-inline: rem(-15);

  [class*="slick-list"],
  [class*="slick-track"] {
    transition-delay: 10ms; // prevent flickering
  }

  [class*="slick-track"] {
    display: flex !important;
  }

  [class*="slick-slide"] {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: inherit !important;

    >div {
      display: flex !important;
      margin-inline: rem(15);
      width: 100%;
      height: 100%;
    }
  }

  &Wrapper {
    position: relative;
    margin-bottom: rem(16);
    width: 100%;

    &:hover {
      >button {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &Slide {
    overflow: hidden;
    border-radius: rem(4);
    width: 100%;
    cursor: pointer;

    &Video {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 49.5%;
        top: 50%;
        border-radius: 50%;
        width: rem(80);
        height: rem(80);
        box-shadow: 0 0 0 16px transparent;
        background-color: var(--primary-color);
        transform: translate(-50%, -50%);
        transition: box-shadow 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: var(--z-up);
        width: rem(21);
        height: rem(22);
        background-image: url("../../../assets/img/play2.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
      }

      &:hover {
        &::before {
          box-shadow: 0 0 0 16px var(--primary-hover-color2);
        }
      }
    }
  }

  &Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &Btn {
    position: absolute;
    top: 50%;
    z-index: var(--z-up);
    border: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: opacity 0.3s, visiblity 0.3s;

    @include bp-down ("576") {
      width: calc(rem(13.61) + 5.97vw); // 48>36(576>375)
      height: calc(rem(13.61) + 5.97vw); // 48>36(576>375)

      svg {
        width: calc(rem(7.54) + 1.99vw); // 19>15(576>375)
        height: calc(rem(6.4) + 1.49vw); // 15>12(576>375)
      }
    }
  }

  &BtnPrev {
    left: rem(33);

    svg {
      transform: rotate(180deg);
    }

    @include bp-down ("576") {
      left: rem(16);
    }
  }

  &BtnNext {
    right: rem(33);

    @include bp-down ("576") {
      right: rem(16);
    }
  }
}

// Minislider
.miniSlider {
  margin-inline: rem(-10);

  [class*="slick-slide"] {
    >div {
      margin-inline: rem(10);

      @include bp-down("500") {
        margin-inline: rem(5);
      }
    }
  }

  &Slide {
    overflow: hidden;
    border-radius: rem(4);
    // width: rem(104) !important;
    width: auto;
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &Active {
      border: rem(1) solid var(--primary-color);
      opacity: 1;
      cursor: default;
    }

    &Video {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: var(--z-up);
        width: 100%;
        height: 100%;
        background-color: var(--gray900-color);
        opacity: 0.6;
        transition: 0.3s ease;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: var(--z-up);
        width: rem(32);
        height: rem(32);
        background-image: url("../../../assets//img/play.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(0) invert(1);
        transform: translate(-50%, -50%);
      }

      &Active {
        border: rem(1) solid var(--primary-color);
        opacity: 1;
        cursor: default;

        &::before {
          opacity: 0;
        }
      }

      &:hover {
        &::before {
          opacity: 0;
        }
      }
    }
  }

  &Image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &Wrapper {
      position: relative;
      padding-top: 100%;
      width: 100%;
    }
  }

  @include bp-down("500") {
    margin-inline: rem(-5);
  }
}

// Right
.right {
  justify-self: end;
  width: 100%;
  min-width: 0;
  max-width: rem(525);

  @include bp-down("768") {
    justify-self: center;
    max-width: 100%;
  }
}

// Details
.details {
  display: flex;
  align-items: flex-start;
  margin-bottom: rem(12);

  @include bp-down("576") {
    flex-wrap: wrap;
  }
}

.prices {
  margin-right: rem(35);
}

.discount {
  position: revert;
  // margin-right: auto;
}

.feedback {
  margin-left: auto;

  @include bp-down("576") {
    padding-top: rem(20);
    width: 100%;
  }
}

.rating {
  position: revert;
  margin-bottom: rem(4);
}

.reviews {
  display: inline-block;
  width: 100%;
  font: var(--small-regular);
  text-align: right;
  color: var(--gray700-color);

  @include bp-down("576") {
    text-align: initial;
  }
}

// Color
.color {
  // justify-content: revert;
  // margin-bottom: rem(24);
  // gap: rem(16);

  &Label {
    display: block;
    margin-bottom: rem(12);
    font: var(--small-regular);
    color: var(--gray800-color);
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: revert;
    list-style: none;
    margin: 0;
    margin-bottom: rem(24);
    padding: 0;
    gap: rem(8);
  }

  &Item {
    // &:not(:first-child):not(:last-child) {
    // margin-left: rem(-8);
    // }

    &Name {
      position: relative;
      top: rem(1);
      font: var(--small-regular);
      color: var(--gray600-color);
      pointer-events: none;
    }
  }
}

// Sizes
.sizes {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: rem(32);

  &Wrapper {
    margin-right: rem(25);
    width: 100%;
    max-width: rem(348);

    @include bp-down("576") {
      margin-right: 0;
    }
  }

  &Label {
    display: block;
    margin-bottom: rem(8);
    font: var(--small-regular);
    color: var(--gray800-color);
  }

  &Btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    padding-top: rem(10);
    padding-bottom: rem(12);
    font: var(--small-bold);
    letter-spacing: rem(0.5);
    white-space: nowrap;
    color: var(--gray900-color);
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    svg {
      margin-right: rem(7);
      width: rem(16);
      height: rem(16);
      fill: currentcolor;
    }

    &:hover {
      color: var(--primary-color);
    }

    @include bp-down("576") {
      margin-bottom: rem(10);
    }
  }

  @include bp-down("576") {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: rem(22);
  }
}

.SelectOuterWrapper {
  width: 100%;
}

.Sort {
  display: flex;
  align-items: center;

  &Select {
    width: 100%;
  }

  &Head {
    justify-content: space-between;
    padding-right: rem(17);
    padding-left: rem(12);
    color: var(--gray600-color);

    svg {
      width: rem(11);
      height: rem(10);
    }

    &:hover {
      color: var(--gray800-color);
    }
  }

  &Wrapper {
    width: 100%;
  }
}

// CTA
.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(28);

  @include bp-down("1024") {
    flex-wrap: wrap;
  }
}

.inputNum {
  flex-shrink: 0;
  margin-right: rem(18);

  &Btns {
    right: rem(20);
  }

  &Input {
    padding-right: rem(32);
    padding-left: rem(15);
  }

  @include bp-down("1024") {
    flex: 1 0 auto;
    margin-right: 0;
    max-width: rem(115);
  }

  @include bp-down("576") {
    max-width: calc(rem(43.36) + 12.44vw); // 115>90(576>375)
  }
}

.btnCartWrapper {
  margin-right: rem(18);
  width: 100%;
  max-width: rem(244);

  @include bp-down("1024") {
    margin-top: rem(25);
    margin-right: 0;
    max-width: 100%;
  }

  @include bp-down("576") {
    margin-top: rem(20);
  }
}

// .btnCart {
//   &Active {
//     color: var(--primary-color);
//     background-color: transparent;

//     &::after {
//       content: "Go to cart";
//     }

//     &:hover {
//       color: var(--white-color);
//       background-color: var(--primary-color);
//     }
//   }
// }

.favorite {
  @include bp-down("1024") {
    flex: 1 0 auto;
    order: -1;
    margin-right: rem(30);
    max-width: rem(275);
  }
}

// Accordion
// .accordion {
//   margin-bottom: rem(23);
// }

// .accordion~.accordion {
//   margin-bottom: rem(24);
// }

.accordion {
  // margin-bottom: rem(20);
  border-bottom: rem(1) solid var(--gray300-color);

  // Top
  &Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: rem(16);
    border: none;
    padding: 0;
    padding-top: rem(20);
    padding-bottom: rem(16);
    width: 100%;
    background-color: transparent;
    cursor: pointer;

    &Show {
      >span {
        &::after {
          display: none;
        }
      }
    }

    &:hover {
      >h3 {
        color: var(--primary-color);
      }
    }
  }

  &Title {
    margin: 0;
    font: var(--base-bold);
    color: var(--gray900-color);
    transition: color 0.3s;
  }

  >span {
    &::after {
      display: block;
    }
  }

  // Bottom
  &Bottom {
    overflow: hidden;
    height: 0;
    transition: height 0.3s;

    // &1 {
    //   transition: height 0.5s;
    // }
  }

  &Descr {
    margin: 0;
    margin-bottom: rem(25);
    font: var(--small-regular);
    color: var(--gray800-color);

    &Bold {
      font: var(--small-bold);
      color: inherit;
    }

    &Margin {
      margin-bottom: rem(12);
    }
  }

  // Table
  &Table {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: rem(20);
    padding-left: rem(20);
    width: 100%;
    white-space: nowrap;
    transition: height 5s;

    &Top {
      display: flex;
      margin-bottom: rem(9);
    }

    &Title {
      width: 100%;
      font: var(--extrasmall-regular);
      text-align: initial;
      text-transform: uppercase;
      color: var(--gray700-color);

      &:not(:last-child) {
        margin-right: rem(15);
      }

      &:nth-child(1) {
        width: 174%;
      }

      &:nth-child(2) {
        width: 174%;
      }
    }

    &Row {
      position: relative;
      display: flex;
      padding-top: rem(12);
      padding-bottom: rem(10);
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: rem(1);
        background-image: var(--divider2-gradient);
      }
    }

    &Cell {
      width: 100%;
      font: var(--small-regular);
      color: var(--gray800-color);

      &:not(:last-child) {
        margin-right: rem(15);
      }

      &:nth-child(1) {
        width: 174%;
      }

      &:nth-child(2) {
        width: 174%;
      }

      @include bp-down("375") {
        font: var(--extrasmall-regular);
      }
    }

    @include bp-down("876") {
      padding-left: 0;
    }

    @include bp-down("768") {
      padding-left: rem(20);
    }

    @include bp-down("414") {
      padding-left: 0;
    }
  }

  // List
  &List {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: rem(0);
    padding-bottom: rem(20);
  }

  &Item {
    position: relative;
    padding-left: rem(21);
    font: var(--small-regular);
    color: var(--gray800-color);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border-radius: 50%;
      width: rem(4);
      height: rem(4);
      background-color: var(--primary-color);
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }
}

// Share
.share {
  display: flex;
  align-items: center;
  margin-bottom: rem(44);
  padding-top: rem(3);

  &Title {
    margin-right: rem(11);
    font: var(--base-bold);
    color: var(--gray900-color);
  }
}

// Payment
.payment {
  display: flex;

  &Box {
    border: rem(1) solid var(--gray400-color);
    border-radius: rem(4);
    width: 100%;
    height: rem(64);
    max-width: rem(120);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--gray200-color);
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: rem(24);

      @include bp-down("576") {
        margin-right: rem(16);
      }
    }

    &:hover {
      box-shadow: var(--main-shadow);
    }

    &Visa {
      background-image: url("../../../assets/img/visa.svg");
    }

    &Mastercard {
      background-image: url("../../../assets/img/mastercard.svg");
    }

    &Paypal {
      background-image: url("../../../assets/img/paypal.svg");
      background-size: 66%;
    }
  }
}