@use "../../scss/util/" as *;

.root {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-child) {
    border-bottom: rem(1) solid var(--gray300-color);
    padding-bottom: rem(31);
  }

  &:not(:first-child) {
    padding-top: rem(31);
  }

  @include bp-down("576") {
    flex-direction: column;
  }
}

// For
.for {
  display: flex;
  padding-bottom: rem(21);
  width: 100%;

  &Label {
    margin-right: rem(8);
    font: var(--base-regular);
    color: var(--gray700-color);
  }

  &Link {
    font: var(--base-bold);
    color: var(--primary-color);
  }
}

// User
.user {
  flex-shrink: 0;
  margin-right: rem(30);
  width: rem(150);

  &Name {
    display: block;
    margin-bottom: rem(8);
    font: var(--large-bold);
    color: var(--gray900-color);
  }

  &Date {
    display: block;
    margin-bottom: rem(15);
    font: var(--small-regular);
    color: var(--gray700-color);
  }

  &Rating {
    position: revert;
  }

  @include bp-down("576") {
    margin-right: 0;
    margin-bottom: rem(20);
    width: 100%;
  }
}

// Message
.message {
  width: calc(100% - rem(180));

  &Text {
    margin: 0;
    margin-bottom: rem(16);
    font: var(--base-regular);
    color: var(--gray800-color);
  }

  &Link {
    margin-right: rem(4);
    font: var(--base-bold);
    color: var(--primary-color);
    cursor: default;
  }

  &Tooltips {
    display: flex;
    align-items: center;
    font: var(--small-regular);
    color: var(--gray700-color);
  }

  &Reply {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    svg {
      margin-right: rem(8);
      width: rem(16);
      height: rem(16);
      fill: currentcolor;
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  &Assessment {
    margin-left: auto;

    svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &Btn {
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    svg {
      margin-right: rem(8);
    }

    &Like {
      margin-right: rem(16);

      svg {
        fill: var(--success-color);
      }
    }

    &Dislike {
      svg {
        fill: var(--danger-color);
      }
    }
  }

  @include bp-down("576") {
    width: 100%;
  }
}