@use "../../../scss/util/" as *;

.root {
  position: relative;
  z-index: var(--z-postup);
  height: auto;
}

.container {
  display: grid;
  column-gap: rem(20);
  grid-template-columns: 1fr 1.2fr 1fr;
  margin-inline: auto;

  @include bp-down("480") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp-down("375") {
    column-gap: rem(8);
  }
}

.title {
  margin-right: rem(12);
  font: var(--base-bold);
  white-space: nowrap;
  color: var(--gray900-color);

  @include bp-down("1120") {
    display: none;
  }
}

// Sort by
.sort {
  display: flex;
  align-items: center;

  &Select {
    width: rem(170);
  }

  &Head {
    justify-content: space-between;
    padding-right: rem(17);
    padding-left: rem(12);

    svg {
      width: rem(11);
      height: rem(10);
    }
  }

  &Wrapper {
    width: 100%;
  }
}

// Show
.show {
  display: flex;
  align-items: center;

  @include bp-down("1120") {
    margin-right: rem(40);
  }

  @include bp-down("480") {
    display: none;
  }
}

// Input number
.itemInputNum {
  flex-shrink: 0;
  margin-right: rem(12);
}

.text {
  position: relative;
  top: rem(-1);
  font: var(--small-regular);
  white-space: nowrap;
  color: var(--gray700-color);

  @include bp-down("1200") {
    display: none;
  }
}