@use "../../../scss/util/" as *;

.root {
  &Blog {
    padding-bottom: rem(30);
  }
}

.box {
  padding-top: 51%;
  width: 100%;

  &Blog {
    max-height: rem(360);
  }
}

.text {
  display: flex;
  flex-direction: column;
  padding: rem(24);
  width: 100%;

  &Blog {
    padding-top: rem(16);
    padding-bottom: 0;
    padding-inline: 0;
  }
}

.title {
  margin-bottom: rem(12);
  width: 70%;
  height: rem(25);

  &Blog {
    margin-bottom: rem(8);
  }
}

.data {
  display: flex;
  margin-bottom: rem(16);
  width: 50%;
  height: rem(15);

  &Item {
    width: 100%;
    height: 100%;

    &:not(:last-child) {
      margin-right: rem(4);
    }
  }

  &Blog {
    order: -1;
    margin-bottom: rem(8);
  }
}

.firstLines {
  width: 100%;
  height: rem(15);

  &:first-child {
    margin-bottom: rem(8);
  }
}

// Skeleton
.skeleton {
  display: block;
  border-radius: rem(4);
  background-color: var(--skeleton-color);
  animation: var(--skeleton-animation);
  pointer-events: none;
  user-select: none;
}