@use "../../scss/util/" as *;

.root {

  &:hover {

    .btnPrev,
    .btnNext {
      opacity: 1;
      visibility: visible;
      transform: translateY(-50%) scale(1);

      @include bp-down("1400") {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.container {
  position: relative;
}

.slide {
  width: 100%;
  height: calc(rem(272) + 27.5vw); // 800>375
  min-height: rem(375);
  background-position: left calc(rem(-335.53) + 17.48vw) center; // 0>-250
  background-size: cover;
  background-repeat: no-repeat;

  &1 {
    background-image: url("../../assets/img/hero1.jpg");
  }

  &2 {
    background-image: url("../../assets/img/hero2.jpg");
  }

  &3 {
    background-image: url("../../assets/img/hero3.jpg");
  }

  &4 {
    background-image: url("../../assets/img/hero4.jpg");
  }

  @include bp-down("1024") {
    background-position: left calc(rem(35.6) - 18.83vw) center; // -157>-35
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 7.4%;
}

.subtitle {
  margin-bottom: rem(12);
  font: var(--large-bold);
  letter-spacing: rem(1);
  text-transform: uppercase;
  color: var(--gray900-color);
  opacity: 0;
  visibility: hidden;
  animation: none;
}

.title {
  margin: 0;
  margin-bottom: rem(59);
  font: var(--display1);
  font-size: calc(1.78rem + 2.26vw); // 72>37
  letter-spacing: rem(1);
  color: var(--gray900-color);
  opacity: 0;
  visibility: hidden;

  @include bp-down("576") {
    margin-bottom: rem(35);
  }
}

.btns {
  display: flex;

  @include bp-down("576") {
    flex-direction: column;
    align-items: flex-start;
  }
}

.button {
  opacity: 0;
  visibility: hidden;

  &:first-child {
    margin-right: rem(23.5);

    @include bp-down("576") {
      margin-right: 0;
      margin-bottom: rem(10);
    }
  }
}

// Swiper navigation
.btnPrev {
  position: absolute;
  left: rem(25);
  top: 50%;
  z-index: var(--z-up);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) scale(0.9);
  transition: all 0.3s ease;

  svg {
    transform: rotate(180deg);
  }
}

.btnNext {
  position: absolute;
  right: rem(25);
  top: 50%;
  z-index: var(--z-up);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) scale(0.9);
  transition: all 0.3s ease;
}

// Text reveal animations
[class*="swiper-slide-active"] {
  [data-even="false"] {
    .subtitle {
      animation: var(--to-right-05-animation);
    }

    .title {
      animation: var(--to-right-03-animation);
    }

    .button {
      animation: var(--scale-out-right-animation);
    }
  }

  [data-even="true"] {
    .subtitle {
      animation: var(--to-bottom-animation);
    }

    .title {
      animation: var(--scale-in-animation);
    }

    .button {
      animation: var(--scale-in-left-animation);
    }
  }
}

// Swiper pagination
.paginationWrapper {
  position: absolute;
  left: 0;
  bottom: calc(rem(15.96) + 8.54vw);
  z-index: var(--z-up);
  width: 100%;
}

.paginationBullet {
  margin: 0;
  border: none;
  border-bottom: 2px solid var(--gray800-color);
  border-radius: 0;
  padding: 0;
  width: calc(rem(56.21) + 6.34vw); // 178>80
  height: calc(rem(27.2) + 1.81vw); // 54>34
  font: var(--ubuntu-bold);
  font-size: calc(rem(16.81) + 0.58vw); // 28>19
  text-align: left;
  color: var(--gray800-color);
  background-color: transparent;
  opacity: 0.6;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: rem(4);
  }

  // Active bullet
  &Active {
    opacity: 1;
  }
}