@use "../../../../scss/util/" as *;

.root {}

.title {
  display: inline-block;
  width: calc(rem(126) + 7.5vw); // 270>150(1920>320)
  height: calc(rem(16) + 1.25vw); // 40>20(1920>320)
}

// Skeleton
.skeleton {
  border-radius: rem(4);
  background-color: var(--skeleton-color);
  animation: var(--skeleton-animation);
  pointer-events: none;
  user-select: none;
}