@use "../../../scss/util" as *;

.outerWrapper {
  position: relative;
  display: none;

  &::before {
    content: "";
    position: absolute;
    left: rem(-7);
    top: 50%;
    display: inline-block;
    width: rem(1);
    height: rem(22);
    background-image: var(--divider-gradient);
    transform: translateY(-50%);
  }

  @include bp-down("1024") {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.root {
  overflow: hidden;
  padding: rem(5);

  &Show {
    overflow: visible;

    .innerWrapper {
      position: relative;
      overflow: hidden;
      width: rem(21);
      height: rem(14);
    }

    .line:nth-child(1) {
      top: 50%;
      opacity: 1;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center;
    }

    .line:nth-child(2) {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }

    .line:nth-child(3) {
      top: 50%;
      opacity: 1;
      transform: translateY(-50%) rotate(-45deg);
      transform-origin: center;
    }
  }
}

.innerWrapper {
  position: relative;
  width: rem(21);
  height: rem(14);
}

.line {
  position: absolute;
  width: rem(21);
  height: rem(2);
  background-color: var(--gray800-color);
  transition: transform 0.2s ease-in-out, opacity 0.2s;

  &:nth-child(1) {
    left: 0;
    top: 0;
    transform: rotate(0);
    transform-origin: center;
  }

  &:nth-child(2) {
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
  }

  &:nth-child(3) {
    left: 0;
    bottom: 0;
    transform: rotate(0);
    transform-origin: center;
  }
}