@use "../../../scss/util/" as *;

.root {
  padding-top: rem(32);
  padding-bottom: rem(120);

  @include bp-down("1325") {
    padding-bottom: calc(rem(85.13) + 2.63vw); // 120>95(1325>375)
  }
}

// Head
.head {
  margin-bottom: rem(16);
}

.title {
  margin: 0;
  margin-bottom: rem(32);
  text-align: initial;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(25);

  &Data {
    margin-bottom: 0;
  }

  &Item {
    &:not(:last-child) {
      padding-right: rem(13.5);
    }
  }
}

// Post
.post {
  font: var(--base-regular);
  line-height: rem(25.6);
  color: var(--gray800-color);

  &Wrapper {
    border-top: rem(1) solid var(--gray300-color);
    border-bottom: rem(1) solid var(--gray300-color);
    padding-top: rem(32);
    padding-bottom: rem(48);
  }

  &Image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &Wrapper {
      overflow: hidden;
      margin-bottom: rem(33);
      border-radius: rem(4);
      max-height: rem(360);
    }
  }

  // Post bottom
  &Bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: rem(36);
    gap: rem(20);

    &Title {
      margin: 0;
      margin-right: rem(12);
      margin-bottom: 0;
      font: var(--base-bold);
    }

    @include bp-down("1325") {
      padding-top: calc(rem(11.08) + 1.58vw); // 32>17(1325>375)
    }
  }

  &Tags {
    display: flex;
    align-items: center;

    &List {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: rem(12);
    }
  }

  &Social {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}