@use "../../scss/util/" as *;

.root {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - (100vh - 100%));
  background-color: var(--overlay-color);
  transition: all 0.3s;
}

.content {
  position: relative;
  border: rem(1) solid var(--gray300-color);
  border-radius: inherit;
  padding: rem(48);
  width: 100%;
  background-color: var(--white-color);

  &Wrapper {
    border-radius: rem(4);
    width: calc(100% - rem(20));
    max-width: rem(486);
    max-height: calc(100% - rem(20));
  }
}

.title {
  margin: 0;
  margin-bottom: rem(22);
  font: var(--h3-font);
  text-align: center;
  color: var(--gray900-color);
}

// Box
.box {
  margin-bottom: rem(20);

  &:last-of-type {
    margin-bottom: rem(40);
  }
}

.label {
  display: inline-block;
  margin-bottom: rem(8);
  font: var(--small-regular);
  color: var(--gray800-color);
}

.input {
  padding-right: rem(42);
  width: 100%;
}

// Download
.download {

  // Download area
  &Area {
    position: relative;
    border: rem(1) dashed var(--gray400-color);
    border-radius: rem(4);
    padding: rem(23);
    text-align: center;
    transition: border-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
    }

    svg {
      margin-bottom: rem(8);
      width: rem(24);
      height: rem(24);
      fill: var(--gray600-color);
    }

    // Highlight class
    &Highlight {
      border: rem(1) solid var(--primary-color);

      &::before {
        width: 100%;
        height: 100%;
      }

      svg {
        fill: var(--primary-color);
      }

      .downloadDescr {
        color: var(--primary-color);
      }
    }
  }

  &Descr {
    margin: 0;
    margin-bottom: rem(19);
    font: var(--extrasmall-regular);
    color: var(--gray800-color);
    user-select: none;
  }

  // Download files
  &Files {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: rem(8);

    &Wrapper {
      overflow: hidden;
      height: 0;
      max-height: rem(140);
      opacity: 0;
      visibility: hidden;
      transition: margin-top 0.3s, visibility 0.3s, opacity 0.3s;

      &Show {
        overflow: auto;
        margin-top: rem(24);
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &File {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: rem(6);
    padding: rem(10) rem(15) rem(10) rem(10);
    height: rem(60);
    background-color: var(--primary01-color);

    &::before {
      content: "";
      position: absolute;
      right: rem(14);
      top: 50%;
      width: rem(16);
      height: rem(16);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: all 0.3s;
    }

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    >svg {
      margin-right: rem(10);
      width: rem(40);
      height: rem(40);
      fill: var(--primary-color);
    }

    &Details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: rem(40);
    }

    &Top {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(-3);
      padding-top: rem(1);
      font: var(--small-bold);
      color: var(--gray800-color);
    }

    &Progressbar {
      margin-top: rem(9);
      border-radius: rem(4);
      width: 100%;
      height: rem(6);
      background-color: var(--white-color);
    }

    &Progress {
      border-radius: inherit;
      width: 0;
      height: 100%;
      background-color: var(--primary-color);
    }

    &Size {
      display: none;
      font: var(--extrasmall-regular);
      color: var(--gray800-color);
    }

    // Download file active class
    &Loaded {
      &::before {
        background-image: url("../../assets/img//success.svg");
        opacity: 1;
        visibility: visible;
      }

      .downloadFileProgressbar {
        display: none;
      }

      .downloadFilePercent {
        display: none;
      }

      .downloadFileSize {
        display: block;
      }
    }

    &Error {
      &::before {
        background-image: url("../../assets/img/warning.svg");
        opacity: 1;
        visibility: visible;
      }

      .downloadFileProgressbar {
        display: none;
      }

      .downloadFilePercent {
        display: none;
      }

      .downloadFileSize {
        display: block;
        color: var(--danger-color);
      }
    }
  }
}

.textarea {
  padding-right: rem(36);
}

.submit {
  width: 100%;
}

.close {
  position: absolute;
  right: rem(23);
  top: rem(23);
  z-index: var(--z-up);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: rem(26);
    height: rem(26);
    fill: var(--gray700-color);
    transition: fill 0.3s;
  }

  &:hover {
    svg {
      fill: var(--gray900-color);
    }
  }
}

// OverlayScrollbars
.osThemeModalReview {
  --os-size: 3px;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;

  // **
  --os-track-border-radius: 0;
  --os-track-bg: var(--gray300-color);
  --os-track-bg-hover: var(--gray300-color);
  --os-track-bg-active: var(--gray300-color);
  --os-track-border: none;
  --os-track-border-hover: none;
  --os-track-border-active: none;

  // **
  --os-handle-border-radius: 4px;
  --os-handle-bg: var(--gray500-color);
  --os-handle-bg-hover: var(--gray600-color);
  --os-handle-bg-active: var(--gray700-color);
  --os-handle-border: none;
  --os-handle-border-hover: none;
  --os-handle-border-active: none;
  --os-handle-min-size: 240px;
  --os-handle-max-size: 480px;
  --os-handle-perpendicular-size: 100%;
  --os-handle-perpendicular-size-hover: 100%;
  --os-handle-perpendicular-size-active: 100%;
  --os-handle-interactive-area-offset: 0;
}

// **
.osThemeDownloadFiles {
  --os-size: 3px;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;

  // **
  --os-track-border-radius: 0;
  --os-track-bg: var(--gray300-color);
  --os-track-bg-hover: var(--gray300-color);
  --os-track-bg-active: var(--gray300-color);
  --os-track-border: none;
  --os-track-border-hover: none;
  --os-track-border-active: none;

  // **
  --os-handle-border-radius: 4px;
  --os-handle-bg: var(--gray500-color);
  --os-handle-bg-hover: var(--gray600-color);
  --os-handle-bg-active: var(--gray700-color);
  --os-handle-border: none;
  --os-handle-border-hover: none;
  --os-handle-border-active: none;
  --os-handle-min-size: 60px;
  --os-handle-max-size: 120px;
  --os-handle-perpendicular-size: 100%;
  --os-handle-perpendicular-size-hover: 100%;
  --os-handle-perpendicular-size-active: 100%;
  --os-handle-interactive-area-offset: 0;
}