@use "../../../scss/util" as *;

.root {
  position: fixed;
  right: rem(-400);
  top: 0;
  bottom: 0;
  z-index: var(--z-modal);
  display: flex;
  flex-direction: column;
  border-top-left-radius: rem(4);
  border-bottom-left-radius: rem(4);
  padding-top: rem(29);
  padding-bottom: rem(32);
  width: rem(352);
  height: calc(100vh - (100vh - 100%));
  background-color: var(--white-color);
  transition: right 0.3s linear;

  &::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--overlay-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rem(1) solid var(--gray300-color);
  padding-right: rem(24);
  padding-bottom: rem(19);
  padding-left: rem(24);
}

.title {
  margin: 0;
  font: var(--lead-bold);
  color: var(--gray900-color);

  &Count {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &Show {
      opacity: 1;
      visibility: visible;
    }
  }
}

.close {
  position: relative;
  top: rem(2);
  padding: rem(2);

  svg {
    width: rem(24);
    height: rem(24);
    fill: var(--gray700-color);
    transition: fill 0.3s;
  }

  &:hover {
    svg {
      fill: var(--gray800-color);
    }
  }
}

// Cart list
.list {
  &Wrapper {
    flex-basis: 100%;
  }
}

.item {
  padding-inline: rem(24);

  &:not(:first-child) {
    border-top: rem(1) solid var(--gray300-color);
  }
}

// Bottom
.bottom {
  display: block;
  border-top: rem(1) solid var(--gray300-color);
  padding-top: rem(20);
  padding-left: rem(24);
  padding-right: rem(24);
}

.subtotal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: rem(20);

  &Title {
    font: var(--base-regular);
    color: var(--gray700-color);
  }

  &Sum {
    font: var(--h5-font);
    color: var(--gray900-color);
  }
}

.checkout {
  width: 100%;

  svg {
    width: rem(22);
    height: rem(19);
  }
}