@use "../../scss/util/" as *;

.checkout {
  padding-top: rem(32);
  padding-bottom: rem(180);

  &__container {
    display: grid;
    column-gap: rem(60);
    grid-template-columns: minmax(0, 6.5fr) minmax(0, 3.5fr);

    @include bp-down("992") {
      display: block;
    }
  }

  // Left
  &__left {
    justify-self: start;
    width: 100%;
    max-width: rem(735);

    @include bp-down("992") {
      margin-bottom: rem(20);
      max-width: none;
    }
  }

  // Checkout head
  .head {
    margin-bottom: rem(31);

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(32);

      &-back {
        position: relative;
        font: var(--base-bold);
        text-decoration: underline;
        text-underline-position: under;
        color: var(--primary-color);
        transition: text-decoration 5s;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      border: rem(1) solid var(--primary025-color);
      border-radius: rem(4);
      padding-top: rem(15);
      padding-bottom: rem(15);
      padding-inline: rem(20);
      color: var(--primary-color);
      background-color: var(--primary006-color);

      &-text {
        font: var(--base-regular);
      }

      &-btn {
        margin-inline: rem(2);
        font: var(--base-bold);
        text-decoration: underline;
        text-underline-position: under;

        &:hover {
          text-decoration: none;
        }
      }

      svg {
        margin-right: rem(12);
        width: rem(19);
        height: rem(19);
        fill: currentcolor;
      }
    }
  }

  // Checkout list
  &__list {
    &-item {
      border-top: rem(1) solid var(--gray300-color);
      padding-top: rem(32);

      &:not(:last-child) {
        margin-bottom: rem(31);
      }

      &:nth-child(4) {
        margin-bottom: rem(33);
      }
    }

    &-title {
      margin-bottom: rem(24);
      font: var(--h4-font);
      color: var(--gry900-color);
      cursor: default;
    }
  }

  // Additional
  &__additional {
    &-label {
      display: inline-block;
      margin-bottom: rem(9);
      font: var(--base-regular);
      color: var(--gray800-color);
    }

    &-textarea {
      display: block;
      border: rem(1) solid var(--gray400-color);
      border-radius: rem(4);
      width: 100%;
      height: rem(130);
      font: var(--base-regular);
      resize: none;

      &::placeholder {
        font: inherit;
        color: var(--gray600-color);
      }
    }
  }

  // Right
  &__right {
    position: relative;
    justify-self: end;
    width: 100%;
    max-width: rem(390);

    &-wrapper {
      position: sticky;
      right: 0;
      top: rem(165);
    }

    @include bp-down("992") {
      max-width: none;
    }
  }

  @include bp-down("1325") {
    padding-bottom: calc(rem(-15.26) + 14.74vw); // 180>40(1325>375)
  }
}