@use "../../scss/util" as *;

.root {
  position: relative;

  &:hover {
    margin-bottom: rem(80); // For box-shadow
    box-shadow: var(--product-shadow);

    @include bp-down("1024") {
      margin-bottom: auto; // For box-shadow
      box-shadow: none;
    }
  }

  // Product hover (no slider)
  &NoJsHover {
    align-self: start;

    .bottom {
      position: absolute;
      left: 0;
      top: 100%;
      overflow: visible;
      padding-bottom: rem(16);
      padding-inline: inherit;
      width: 100%;
      height: auto;
      background-color: var(--white-color);
      transition: box-shadow 0.3s ease-in-out opacity 0.3s;
    }

    &:hover {
      margin-bottom: auto;
      box-shadow: var(--regular-shadow);
      transition: box-shadow 0.3s ease-in-out;

      .info {
        position: relative;
        z-index: var(--z-postup);
      }

      .bottom {
        box-shadow: var(--regular-shadow);
        opacity: 1;
        visibility: visible;
        transition: box-shadow 0.3s ease-in-out opacity 0.3s;
      }

      @include bp-down("1024") {
        box-shadow: none;

        .info {
          position: relative;
          z-index: auto;
        }

        .bottom {
          box-shadow: none;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}

.look {
  position: relative;
  overflow: hidden;
  margin-bottom: rem(16);
  border-radius: rem(4);
  cursor: pointer;
}

.imageWrapper {
  position: relative;
}

// .imageLink {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
// }

.image {
  width: 100%;
  object-fit: cover;
}

.rating {
  position: absolute;
  right: rem(16);
  top: rem(15);
  z-index: var(--z-up);
  display: block;
  cursor: default;

  &Icon {
    width: rem(13);
    height: rem(13);
    fill: none;
    stroke: var(--gray500-color);
    stroke-width: 10px;

    &:not(:last-child) {
      margin-right: rem(3);
    }

    &Active {
      fill: var(--warning-color);
      stroke: var(--warning-color);
    }
  }
}

.discount {
  position: absolute;
  left: rem(16);
  top: rem(16);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(4);
  padding-top: rem(5);
  padding-bottom: rem(7);
  padding-inline: rem(8);
  font: var(--base-bold);
  line-height: 100%;
  color: var(--white-color);
  background-color: var(--danger-color);
}

.info {
  border-bottom-right-radius: rem(4);
  border-bottom-left-radius: rem(4);
  padding-inline: rem(17);
  background-color: var(--gray300-color);

  &White {
    background-color: var(--white-color);
  }
}

.name {
  display: block;
  overflow: hidden;
  margin-bottom: rem(8);
  font: var(--large-regular);
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--gray800-color);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--primary-color);
  }
}

.prices {
  display: flex;
  align-items: center;
}

.price {
  display: inline-block;
  font: var(--h5-font);
  color: var(--gray900-color);

  &Lg {
    font: var(--h4-font);
  }

  &Red {
    margin-right: rem(12);
    color: var(--danger-color);
  }
}

.oldPrice {
  position: relative;
  display: inline-block;
  font: var(--base-regular);
  line-height: 100%;
  color: var(--gray700-color);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: rem(1);
    background-color: currentcolor;
  }

  &Lg {
    top: rem(1);
    font: var(--large-regular);
    line-height: 100%;

    &::before {
      content: "";
      top: rem(11);
    }
  }
}

.bottom {
  position: relative;
  z-index: var(--z-up);
  overflow: hidden;
  padding-bottom: rem(0);
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &[data-visible] {
    overflow: visible;
    padding-bottom: rem(16);
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  &Permanent {
    position: absolute;
    left: 0;
    top: 100%;
    overflow: visible;
    padding-bottom: rem(16);
    padding-inline: inherit;
    width: 100%;
    height: auto;
    box-shadow: var(--regular-shadow);
    background-color: var(--white-color);
    opacity: 1;
    visibility: visible;
    transition: box-shadow 0.3s ease-in-out opacity 0.3s;

    @include bp-down("1024") {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: rem(19);
  padding-top: rem(21);
}

.buttonWrapper {
  display: flex;
}

.buttonCart {
  flex-grow: 1;
  width: 100%;

  &::after {
    content: "Add to cart";
  }

  svg {
    width: rem(15);
    height: rem(15);
    fill: currentcolor;
  }

  &Active {
    color: var(--primary-color);
    background-color: transparent;

    &::after {
      content: "In the cart";
    }

    &:hover {
      color: var(--white-color);
      background-color: var(--primary-color);
    }
  }
}

// Sizes
.sizes {
  display: flex;
  flex-basis: calc(67% - rem(20));
  flex-wrap: wrap;
  align-items: center;
  margin-right: rem(20);
  gap: rem(8);

  &Btn {
    border: 1px solid var(--gray400-color);
    border-radius: rem(4);
    padding-block: rem(2);
    padding-inline: rem(4);
    min-width: rem(24);
    font: var(--extrasmall-regular);
    text-transform: uppercase;
    color: var(--gray800-color);
    background-color: transparent;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-color);
    }

    &Active {
      border-color: var(--primary-color);
    }
  }
}

// Microslider
.microslider {
  position: relative;
  padding-top: 112.8%;

  &Image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &Srcs {
    display: none;
  }

  &Btn {
    position: absolute;
    top: 50%;
    z-index: var(--z-up);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    width: rem(36);
    height: rem(36);
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    cursor: pointer;

    svg {
      width: rem(17);
      height: rem(10);
      fill: var(--gray800-color);
    }

    &Left {
      left: 2.5%;
      transform: translateY(-50%) rotate(90deg);
    }

    &Right {
      right: 2.5%;
      transform: translateY(-50%) rotate(-90deg);
    }

    @include bp-down("768") {
      width: rem(24);
      height: rem(24);
    }
  }

  &:hover {
    button {
      opacity: 1;
      visibility: visible;
    }
  }
}

.colors {
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: end;
  gap: rem(7.5);
}