@use "../../../scss/util/" as *;

.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;

  // Show class
  &Show {
    overflow: visible;
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  @include bp-down("768") {
    flex-direction: column;
    align-items: center;
  }
}

.left {
  margin-right: rem(60);
  width: 100%;
  max-width: rem(735);

  @include bp-down("1024") {
    margin-right: calc(rem(-80) + 13.67vw); // 60>25(1024>768)
  }

  @include bp-down("768") {
    margin-right: 0;
    margin-bottom: rem(60);
  }
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: rem(81);

  // Rate
  &Rate {
    margin-right: rem(18);
    width: 71%;

    @include bp-down("576") {
      margin-right: 0;
      margin-bottom: rem(35);
    }
  }

  &Title {
    margin: 0;
    margin-bottom: rem(19);
    font: var(--h2-font);
    white-space: nowrap;
    text-align: initial;
    color: var(--gray900-color);
  }

  &Rating {
    position: revert;
    margin-bottom: rem(16);
    text-align: initial;
  }

  // &Star {
  //   &:not(:last-child) {
  //     margin-right: rem(-1);
  //   }
  // }

  &Recommended {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font: var(--small-regular);
    color: var(--gray700-color);
  }

  // Progress
  &Progress {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: rem(24);
    width: 100%;
    font: var(--small-regular);
    color: var(--gray700-color);

    &Item {
      display: flex;
      align-items: center;
      padding-top: rem(9);
      padding-bottom: rem(8);

      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }

    &Grade {
      position: relative;
      margin-right: rem(17);
      padding-right: rem(15);
      line-height: 0;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: rem(12);
        height: rem(12);
        background-image: url("../../../assets/img/star.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }
    }

    &Bar {
      position: relative;
      display: inline-flex;
      border-radius: rem(4);
      width: 100%;
      height: rem(4);
      max-width: rem(356);
      background-color: var(--gray300-color);

      &::before {
        content: "";
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        width: var(--progress-width);
        height: 100%;
      }

      &::after {
        content: attr(data-pb);
        position: absolute;
        right: rem(-24);
        top: 50%;
        transform: translateY(-50%);
      }

      &5 {
        &::before {
          background-color: var(--success-color);
        }
      }

      &4 {
        &::before {
          background-color: var(--malachite-color);
        }
      }

      &3 {
        &::before {
          background-color: var(--dandelion-color);
        }
      }

      &2 {
        &::before {
          background-color: var(--warning-color);
        }
      }

      &1 {
        &::before {
          background-color: var(--danger-color);
        }
      }

      @include bp-down("576") {
        max-width: none;
      }
    }
  }

  @include bp-down("576") {
    flex-direction: column;
    margin-bottom: rem(31);
  }
}

// Tool-bar
.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(60);

  // Btn
  &Btn {
    margin-right: rem(22);
    padding-inline: rem(40);
  }

  // Ssort
  &Sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &Title {
    margin-right: rem(12);
    font: var(--base-bold);
    white-space: nowrap;
    color: var(--gray800-color);

    @include bp-down("576") {
      display: none;
    }
  }

  &Select {
    max-width: rem(170);
  }
}

// Pagination
.pagWrapper {
  display: flex;
  justify-content: center;
  padding-top: rem(58);

  &Flat {
    padding-top: 0;
  }
}

// Right
.right {
  flex-shrink: 2;
  width: 100%;
  min-width: 0;
  max-width: rem(390);
}

// .productDetails {
//   margin-bottom: rem(21);
// }

// .colors {
//   gap: rem(7);
// }