@use "../../../scss/util/" as *;

.root {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-modal);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - calc(100vh - 100%));
  background-color: var(--overlay-color);
  opacity: 0;
  visibility: hidden;

  // Show class
  &Show {
    opacity: 1;
    visibility: visible;
  }
}

// Info
.info {
  position: relative;
  display: inline-block;
  border: rem(1) solid var(--gray300-color);
  border-radius: rem(4);
  padding-block: rem(48);
  max-width: calc(100% - rem(20));
  background-color: var(--white-color);

  &Wrapper {
    display: inline-block;
    overflow-y: auto;
    padding-block: rem(10);
    width: 100%;
    max-height: 100vh;
    text-align: center;
  }
}

.title {
  margin: 0;
  margin-bottom: rem(31);
  font: var(--h3-font);
  text-align: center;
  color: var(--gray900-color);
}

// Tabs
.tabs {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-bottom: rem(24);
  padding: 0;

  &Item {
    &:not(:last-child) {
      margin-right: rem(12);

      @include bp-down("340") {
        margin-right: rem(6);
      }
    }
  }

  &Mb0 {
    margin-bottom: 0;
  }
}

// Table
.table {
  border-spacing: 0;
  padding-top: rem(15);
  min-width: rem(770);
  text-align: left;

  &Wrapper {
    display: none;
    overflow-x: auto;
    border: rem(1) solid var(--gray300-color);
    border-radius: rem(4);
    max-width: 100%;

    &Outer {
      padding-bottom: rem(31);
      padding-inline: rem(48);

      &Pb0 {
        padding-bottom: 0;
      }

      @include bp-down("992") {
        padding-inline: rem(36);
      }

      @include bp-down("576") {
        padding-inline: rem(15);
      }
    }

    &Active {
      display: block;
    }
  }

  &Mb0 {
    margin-bottom: 0;
  }
}

.caption {
  display: block;
  margin-bottom: rem(16);
  font: var(--large-bold);
  text-align: center;
  color: var(--gray900-color);
}

.content {
  display: table;
  width: 100%;
}

.row {
  background-color: var(--gray200-color);

  &:nth-child(2n) {
    background-color: var(--white-color);
  }
}

.data {
  padding-top: rem(9);
  padding-bottom: rem(10);
  width: rem(77);
  font: var(--small-regular);
  color: var(--gray800-color);

  &:first-child {
    padding-left: rem(15);
    width: rem(154);
  }
}

// Units
.units {
  border-top: rem(1) solid var(--gray300-color);
  padding-top: rem(31);

  &Top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(24);

    @include bp-down("576") {
      flex-direction: column;
    }
  }

  &Title {
    margin: 0;
    margin-right: rem(25);
    font: var(--base-bold);
    color: var(--gray900-color);

    @include bp-down("576") {
      margin-right: 0;
      margin-bottom: rem(20);
    }
  }
}

// Close
.close {
  position: absolute;
  right: rem(22);
  top: rem(22);
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: rem(26);
    height: rem(26);
    fill: var(--gray700-color);
    transition: fill 0.3s;
  }

  &:hover {
    svg {
      fill: var(--gray900-color);
    }
  }
}