@use "../../../scss/util/" as *;

.root {
  display: flex;
  align-items: center;
  justify-self: self-end;
  font: var(--small-regular);
  white-space: nowrap;

  svg {
    order: -1;
    margin-right: rem(8);
    width: rem(14);
    height: rem(14);
    fill: currentcolor;
    transition: fill 0.3s;
  }

  @include bp-down("1024") {
    justify-self: revert;
  }
}

.loginBtn,
.registerBtn {
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--white-color);

    ~svg {
      fill: var(--white-color);
    }
  }
}

.divider {
  margin-inline: rem(3);
}

// In HeaderMain
[data-id="headerMain"] {
  .root {
    display: none;
    justify-self: start;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    font: var(--base-bold);
    color: var(--gray800-color);

    @include bp-down("1024") {
      display: flex;
    }
  }

  .loginBtn,
  .registerBtn {
    &:hover {
      color: var(--primary-color);

      ~svg {
        fill: var(--primary-color);
      }
    }
  }
}