@use "../../../scss/util" as *;

.root {
  position: fixed;
  left: 0;
  top: rem(128);
  border: rem(1) solid var(--gray300-color);
  border-radius: 0 0 rem(4) rem(4);
  width: 100%;
  height: 0;
  box-shadow: var(--large-shadow);
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    pointer-events: none;
  }

  @include bp-down("1024") {
    position: revert;
    border: none;
    box-shadow: none;

    &::before {
      content: none;
    }
  }
}

.container {
  display: flex;
  padding-top: rem(19);
  padding-bottom: rem(40);
  width: 100%;

  @include bp-down("1024") {
    margin-inline: auto;
  }
}

.categories {
  display: grid;
  column-gap: rem(30);
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: rem(810);

  @include bp-down("678") {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(30);
  }

  @include bp-down("440") {
    grid-template-columns: 1fr;
  }
}

.nonCategory {
  @include bp-down("1024") {
    order: 1;
    width: 100%;
  }
}

.category {
  @include bp-down("1024") {
    margin-right: rem(20);
    width: 100%;
  }
}

.title {
  margin: 0;
  margin-bottom: rem(8);
  font: var(--small-bold);
  text-transform: uppercase;
  color: var(--gray900-color);
}

.list {
  list-style: none;
  overflow-y: hidden;
  margin: 0;
  padding: 0;

  @include bp-down("1024") {
    &[data-category="5"] {
      +.more {
        display: flex;
      }
    }
  }
}

.item {
  &:not(:last-child) {
    margin-bottom: rem(8);
  }
}

.link {
  font: var(--small-regular);
  color: var(--gray800-color);
  transition: color 0.3s;

  &:hover {
    color: var(--primary-color);
  }

  &Red {
    color: var(--danger-color);

    &:hover {
      color: var(--danger-color);
    }
  }
}

.more {
  position: relative;
  bottom: rem(15);
  display: none;
  align-items: center;
  margin-right: rem(5);
  margin-bottom: rem(-20);
  font: var(--extrasmall-bold);
  font-size: rem(26);
  color: var(--primary-color);
}

.divider {
  margin-inline: auto;
  padding-inline: rem(30);
  height: rem(427);

  &::before {
    content: "";
    display: inline-block;
    width: rem(1);
    height: 100%;
    background-image: var(--divider-gradient);
    background-repeat: no-repeat;
  }

  @include bp-down("1024") {
    display: none;
  }
}

.offer {
  width: 100%;
  max-width: rem(285);

  svg {
    fill: currentcolor;
  }

  &Image {
    margin-bottom: rem(16);
  }

  &Descr {
    margin: 0;
    margin-bottom: rem(16);
    font: var(--small-bold);
    color: var(--gray800-color);
  }

  @include bp-down("1024") {
    display: none;
  }
}