@use "../../scss/util/" as *;

.root {
  padding-top: calc(rem(35) + 5.6vw); // 143>53 (1920>320)

  [class*="slick-list"] {
    position: relative;
    z-index: var(--z-up);
    margin-bottom: calc(rem(32) + 2.5vw); // 80>40 (1920>320)
  }
}

.title {
  margin-bottom: rem(23);
}

.subtitle {
  margin-bottom: rem(60);
  text-align: center;
}

.descr {
  font: var(--large-regular);
  color: var(--gray700-color);
}

.more {
  position: relative;
  font: var(--large-regular);
  color: var(--primary-color);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(1);
    background-color: currentcolor;
  }

  &:hover {
    &::before {
      opacity: 0;
    }
  }
}

.slider {
  margin-inline: rem(-30);

  [class*="slick-slide"] {
    >div {
      margin-inline: rem(15);

      @include bp-down("678") {
        margin-inline: rem(10);
      }
    }
  }

  @include bp-down("678") {
    margin-inline: rem(-20);
  }
}

.product {
  position: relative;
  z-index: var(--z-up);

  &:hover {
    margin-bottom: rem(80); // For box-shadow
    box-shadow: var(--product-shadow);

    @include bp-down("1024") {
      margin-bottom: auto; // For box-shadow
      box-shadow: none;
    }
  }
}

// For skeleton
.pointerEventsNone {
  pointer-events: none;
}