@use "../../../scss/util/" as *;

.leave-review {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-modal);
  height: calc(100vh - (100vh - 100%));

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    position: relative;
    overflow-y: auto;
    border: rem(1) solid var(--gray300-color);
    border-radius: rem(4);
    padding: rem(48);
    width: 100%;
    max-width: rem(486);
    max-height: 100%;
    background-color: var(--white-color);
  }

  &__title {
    margin-bottom: rem(22);
    font: var(--h3-font);
    text-align: center;
    color: var(--gray900-color);
  }

  // Box
  &__box {
    margin-bottom: rem(20);

    &:last-of-type {
      margin-bottom: rem(40);
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: rem(8);
    font: var(--small-regular);
    color: var(--gray800-color);
  }

  &__input {
    padding-right: rem(42);
    width: 100%;
  }

  // Select
  &-select-outer-wrapper {
    width: 100%;
  }

  &__sort {
    display: flex;
    align-items: center;

    &-select {
      width: 100%;
    }

    &-head {
      justify-content: space-between;
      padding-right: rem(17);
      padding-left: rem(12);
      color: var(--gray600-color);

      svg {
        width: rem(11);
        height: rem(10);
      }

      &:hover {
        color: var(--gray800--color);
      }
    }

    &-wrapper {
      width: 100%;
    }
  }

  // Download
  .download {

    // Download area
    &__area {
      position: relative;
      border: rem(1) dashed var(--gray400-color);
      border-radius: rem(4);
      padding: rem(23);
      text-align: center;
      transition: border-color 0.3s;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
      }

      svg {
        margin-bottom: rem(8);
        width: rem(24);
        height: rem(24);
        fill: var(--gray600-color);
      }

      &-descr {
        margin-bottom: rem(19);
        font: var(--extrasmall-regular);
        color: var(--gray800-color);
        user-select: none;
      }

      // Highlight class
      &--highlight {
        border: rem(1) solid var(--primary-color);

        &::before {
          width: 100%;
          height: 100%;
        }

        svg {
          fill: var(--primary-color);
        }

        .download__area-descr {
          color: var(--primary-color);
        }
      }
    }

    // Download files
    &__files {
      padding-right: rem(8);

      &-wrapper {
        overflow: scroll;
        height: auto;
        max-height: rem(140);
        opacity: 0;
        visibility: hidden;
        transition: margin-top 0.3s, visibility 0.3s, opacity 0.3s;

        &--show {
          margin-top: rem(24);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__file {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: rem(6);
      padding: rem(10) rem(15) rem(10) rem(10);
      height: rem(60);
      background-color: var(--primary01-color);

      &::before {
        content: "";
        position: absolute;
        right: rem(14);
        top: 50%;
        width: rem(16);
        height: rem(16);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        transition: all 0.3s;
      }

      &:not(:last-child) {
        margin-bottom: rem(10);
      }

      >svg {
        margin-right: rem(10);
        width: rem(40);
        height: rem(40);
        fill: var(--primary-color);
      }

      &-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: rem(40);
      }

      &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(-3);
        padding-top: rem(1);
        font: var(--small-bold);
        color: var(--gray800-color);
      }

      &-progressbar {
        margin-top: rem(9);
        border-radius: rem(4);
        width: 100%;
        height: rem(6);
        background-color: var(--white-color);
      }

      &-progress {
        border-radius: inherit;
        width: 0;
        height: 100%;
        background-color: var(--primary-color);
      }

      &-size {
        display: none;
        font: var(--extrasmall-regular);
        color: var(--gray800-color);
      }

      // Download file active class
      &--load {
        &::before {
          background-image: url("../img/success.svg");
          opacity: 1;
          visibility: visible;
        }

        .download__file-progressbar {
          display: none;
        }

        .download__file-percent {
          display: none;
        }

        .download__file-size {
          display: block;
        }
      }

      &--error {
        &::before {
          background-image: url("../img/warning.svg");
          opacity: 1;
          visibility: visible;
        }

        .download__file-progressbar {
          display: none;
        }

        .download__file-percent {
          display: none;
        }

        .download__file-size {
          display: block;
          color: var(----danger-color);
        }
      }
    }
  }

  &__textarea {
    padding-right: rem(36);
  }

  &__submit {
    width: 100%;
  }

  &__close {
    position: absolute;
    right: rem(23);
    top: rem(23);
    z-index: var(--z-up);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: rem(26);
      height: rem(26);
      fill: var(--gray700-color);
      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: var(--gray900-color);
      }
    }
  }

  // Leave review show class
  &--show {
    opacity: 1;
    visibility: visible;
  }
}