@use "../../../scss/util/" as *;

.root {}

.title {
  display: block;
  width: rem(132);
  height: rem(17);
}

// Skeleton
.skeleton {
  border-radius: rem(4);
  background-color: var(--skeleton-color);
  animation: var(--skeleton-animation);
  pointer-events: none;
  user-select: none;
}