@use "../util/" as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow-x: hidden;
  overflow-anchor: none;
  margin: 0;
  padding: 0;
  padding-top: rem(128);
  font-family: sans-serif;

  @include bp-down("1024") {
    padding-top: rem(108);
  }
}