@use "../../scss/util/" as *;

.root {
  padding-top: rem(116);
  padding-bottom: rem(120); // tmp

  [class*="slick-list"] {
    margin-inline: rem(-15);

    [class*="slick-slide"] {
      >div {
        margin-bottom: rem(60); // Для box-shadow
        margin-inline: rem(15);
        height: auto;
        transition: box-shadow 0.3s;

        &:hover {
          box-shadow: var(--custom-hover-shadow);
        }
      }
    }
  }
}

.container {
  overflow-x: hidden;
  margin-bottom: rem(-60); // Для box-shadow
  padding-inline: rem(25);
  max-width: rem(1280);

  // @include bp-down("1325") {
  //   margin-inline: rem(15);
  // }

  // @include bp-down("1024") {
  //   margin-inline: rem(5);
  // }

  // @include bp-down("876") {
  //   margin-inline: 0;
  // }

  // @include bp-down("768") {
  //   padding-inline: rem(20);
  // }
}

.head {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: calc(rem(47.57) + 0.65vw); // 60>50
}

.title {
  margin: 0;
  text-align: initial;
}

.button {}

.article {
  margin-bottom: rem(60); // Для box-shadow
  height: auto;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: var(--custom-hover-shadow);
  }
}

// .pagination {
//   position: absolute;
//   bottom: rem(10) !important;
//   z-index: var(--z-up);

//   @include bp-down ("768") {
//     display: none;
//     pointer-events: none;
//   }

//   @include bp-down ("576") {
//     display: block;
//     pointer-events: auto;
//   }
// }