@use "../../scss/util/" as *;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  white-space: nowrap;
  background-color: var(--white-color);
  cursor: pointer;

  svg {
    width: rem(15);
    height: rem(14);
    fill: transparent;
    stroke: var(--gray700-color);
    stroke-width: rem(40);
    transition: stroke 0.3s, fill 0.3s;
  }

  &Product {
    position: absolute;
    right: rem(16);
    bottom: rem(16);
    z-index: var(--z-up);
    border-radius: 50%;
    width: rem(32);
    height: rem(32);

    @extend .root;

    &::before {
      content: "Add to wishlist";
      position: absolute;
      left: rem(-115);
      top: 50%;
      display: flex;
      align-items: center;
      border-radius: rem(4);
      padding-inline: rem(10);
      height: rem(28);
      font: var(--small-regular);
      line-height: 1;
      white-space: nowrap;
      text-align: center;
      color: var(--white-color);
      background-color: var(--black-color);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: opacity 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      left: rem(-6);
      top: 50%;
      border-style: solid;
      border-width: rem(5) 0 rem(5) rem(7.5);
      border-color: transparent transparent transparent var(--black-color);
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: opacity 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }

      @include bp-down("1024") {
        &::before {
          content: none;
        }

        &::after {
          content: none;
        }
      }
    }
  }

  // Favorite (rectangle version)
  // &Rectangle {
  //   position: revert;
  //   border-radius: rem(4);
  //   padding-inline: rem(32);
  //   width: auto;
  //   height: rem(44);
  //   letter-spacing: rem(0.3);
  //   background-color: var(--white-color);
  //   gap: 0;

  //   &::before {
  //     content: none;
  //   }

  //   &::after {
  //     content: none;
  //   }

  //   svg {
  //     margin-right: rem(5);
  //     width: rem(21);
  //     height: rem(14);
  //     fill: var(--white-color);
  //     stroke: var(--primary-color);
  //     stroke-width: rem(40);
  //     transition: stroke 0.3s, fill 0.3s;
  //   }

  //   &:hover {
  //     svg {
  //       stroke: var(--white-color);
  //     }
  //   }
  // }

  // Favorite (cart version)
  &Cart {
    padding-top: rem(14);
    padding-inline: rem(1);

    @extend .root;

    &::before {
      content: "Move to";
      position: revert;
      margin-right: rem(8);
      padding-inline: 0;
      font: var(--extrasmall-bold);
      letter-spacing: rem(0.5);
      color: var(--gray800-color);
      background-color: transparent;
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: none;
    }

    svg {
      stroke: var(--gray800-color);
    }
  }

  &Active {
    svg {
      fill: var(--primary-color);
      stroke: var(--primary-color);
    }
  }
}