@use "../../../scss/util/" as *;

.root {
  padding-top: calc(rem(45) + 6.87vw); // 177>67 (1920>320)
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: rem(16);

  @include bp-down("1024") {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.banner {
  border: rem(1) solid #e8e8e8;
  border-radius: rem(4);
  padding: rem(60);
  height: rem(500);

  &:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 2;

    @include bp-down("1024") {
      height: calc(rem(247.4) + 24.69vw); // 500>340
    }
  }

  &:nth-child(2) {
    grid-column: 5 / 11;
    grid-row: 1 / 2;

    @include bp-down("1024") {
      height: calc(rem(350.02) + 14.66vw); // 500>405
    }
  }

  &:nth-child(3) {
    grid-column: 1 / 7;
    grid-row: 2 / 3;

    @include bp-down("1024") {
      height: calc(rem(338.45) + 8.41vw); // 500>370
    }
  }

  &:nth-child(4) {
    grid-column: 7 / 11;
    grid-row: 2 / 3;

    @include bp-down("1024") {
      height: calc(rem(357.92) + 13.89vw);
    }
  }

  @include bp-down("1024") {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  @include bp-down("768") {
    padding-block: rem(48);
    padding-inline: rem(24);
  }
}

.subtitle {
  margin-bottom: rem(12);
  width: calc(rem(152) + 5.62vw); // 260>170
  height: calc(rem(28) + 0.62vw); // 40>30
}

.title {
  margin-bottom: rem(40);
  width: rem(150);
  height: rem(20);
}

.button {
  width: rem(150);
  height: rem(45);
}

.timer {
  margin-top: rem(80);
  width: rem(230);
  height: rem(90);
}

.form {
  margin-top: rem(80);
  width: calc(rem(204) + 8.12vw); // 360>230(1920>320)
  height: rem(45);
}

// Skeleton
.skeleton {
  display: block;
  border-radius: rem(4);
  background-color: var(--skeleton-color);
  animation: var(--skeleton-animation);
  pointer-events: none;
  user-select: none;
}