@use "../../../scss/util/" as *;

.root {}

.fields {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(34);
}

.field {
  width: calc(50% - rem(12));

  &:not(:nth-last-child(-n+2)) {
    margin-bottom: rem(22);
  }

  &:nth-child(odd) {
    margin-right: rem(24);
  }

  @include bp-down("576") {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}

.label {
  display: inline-block;
  margin-bottom: rem(10);
  font: var(--base-regular);
  color: var(--gray800-color);
}

.sort {
  display: flex;
  align-items: center;

  &Select {
    width: 100%;
  }

  &Head {
    justify-content: space-between;
    padding-top: rem(13);
    padding-right: rem(15);
    padding-bottom: rem(15);
    padding-left: rem(12);
    font: var(--base-regular);
    color: var(--gray600-color);

    svg {
      position: relative;
      top: rem(2.5);
      width: rem(19);
      height: rem(9);
      fill: var(--gray800-color);
    }

    &:hover {
      color: var(--gray800--color);
    }
  }

  &Item {
    font: var(--base-regular);
  }

  &Wrapper {
    width: 100%;
  }
}

// Checking
.checking {
  display: flex;
}

.checktext {
  position: relative;
  top: rem(-5);
  margin-bottom: rem(-4);
  font: var(--base-regular);
  color: var(--gray800-color);
  user-select: none;
}