@use "../../scss/util" as *;

.root {
  padding-top: rem(20);
  padding-bottom: rem(20);
  box-shadow: var(--regular-shadow);
  background-color: var(--white-color);

  @include bp-down("1024") {
    overflow-y: hidden;
    height: rem(68);
  }

  &Open {
    height: auto;
  }
}

.container {
  display: grid;
  column-gap: rem(20);
  align-items: center;
  grid-template-columns: 1.17fr 5.9fr 1.1fr;

  @include bp-down("1024") {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: repeat(2, auto);
  }
}

.logo {
  position: relative;
  justify-self: self-start;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: rem(130);
  height: rem(22);
  white-space: nowrap;
}

.transplant {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bp-down("1024") {
    flex-direction: column;
    align-items: revert;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    visibility: hidden;
    transition: 0.3s;
  }

  &Visible {
    visibility: visible;
  }
}